h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 10rem;
  margin-block-start: 2vh;
  margin-block-end: 0;
  color: crimson;
}

.slider{
  margin-top: 10vh; 
  position: relative;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: silver;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: silver;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
